{% extends 'base_admin.html' %}

{% block title%}Admin &centerdot; Add Product{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container" style="margin-top:50px;">
    <div id="sidebar">
        <h3>Categories</h3>
        <ul style="margin-top:10px;">
            <li {% if not category %}class="selected" {% endif %}>
                <a href="{% url 'gala:shop' %}">All</a>
            </li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                <a href="{{ c.get_admin_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <h3 style="margin-top:40px;">Menu</h3>
        <ul style="margin-top:10px;">
            <li>
                <a href="{% url 'gala:add_category' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add
                    Category </a>
            </li>
            <li style="margin-top:10px;" class="selected">
                <a href="{% url 'gala:add_product' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Product
                </a>
            </li>
        </ul>
    </div>
    <div id="main" class="product-list">
        <h2>Add Product</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Category Name:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;" name="category_name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Name:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;" name="category_slug" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Slug:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;" name="category_name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Image:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;border:none;" name="category_slug" type="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Description:
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="width:350px;" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Prize:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;" name="category_slug" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Stock:
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" style="width:350px;" name="category_name" type="number">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label class="col-sm-5 control-label">
                            <input type="checkbox"> Available
                        </label>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" style="width:350px;margin-left:10px;" class="btn btn-success">Add
                                Product
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}