body {
    background: white url("../img/background.png");
}
a {
    text-decoration:none;
}

.jumbotron {
    height:480px;
    background: white url('../img/back-bg.png');
    text-align: center;
    color:white;
}

.footer{
    text-align: center;
}

#login_page {

}

#login-heading{
    margin-top:200px;
}
.panel-login{
    margin-top:100px;
    height: 300px;width:500px;
    margin-left:420px;
    color:black;
}
.panel-heading{
    width: auto;
    text-align:center;
    padding: 5px 16px;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;

}
.panel-body{
    padding: 15px 50px;
    color:#202020;
}
#register-heading{
    margin-top:50px;
}
.panel-forget{
    margin-top:100px;
    height: 240px;width:500px;
    margin-left:420px;
    color:black;
}
.panel-register{
    margin-top:100px;
    height: auto;width:500px;
    margin-left:420px;
    color:black;
}

#forgot-heading{
    margin-top:50px;
}

.panel-stats{
    height:150px;
    padding:10px;
}
.widget1 {
  margin-right: 1.5%;
}
.widget{
	padding:0;
}
.col-md-3.widget.widget1 {
  width: 23.5%;
}
.r3_counter_box {
  min-height: 100px;
  background: #ffffff;
  padding: 15px;
}
.stats {
  overflow: hidden;
}
.r3_counter_box .fa {
  margin-right: 0px;
  width: 66px;
  height: 66px;
  text-align: center;
  line-height: 65px;
}
.r3_counter_box.stats {
  padding-left: 85px;
}
.r3_counter_box h5 {
  margin: 10px 0 5px 0;
  color:#000;
  font-weight:600;
  font-size: 20px;
}
.r3_counter_box{
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.icon-rounded{
  background-color:#9358ac;
  color: #ffffff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  font-size: 25px;
}
.stats {
  overflow: hidden;padding-left: 25px;
}
.stats span{
	color:#999;
	font-size:15px;
}
.r3_counter_box.stats {

}
.user1{
background-color:#005A00;
}

.user2{
background-color:#9966FF;
}

.user3{
background-color:#6E22B5;
}

@media (max-width:1024px){
.r3_counter_box .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.r3_counter_box {
  padding: 10px;
  min-height: 70px;
}
.r3_counter_box h5 {
  font-size: 15px;
}
.stats span {
  font-size: 13px;
}
}

ul{list-style:none;}

 a:link,hover,active,visited {
            color: #000000;
            text-decoration:none;
            cursor: pointer;
        }
.btn-primary:hover{
            color: #337ab7;
            background-color: #F0F0F0;
            border-color: #2e6da4;
}
.cat-panel{
            background-color:#F8F8F8;
            height:250px;
            padding-left:5px;
        }
.add-cat-panel{
            background-color:#F8F8F8;
            height:400px;
        }
.img-logo{
            height:150px;
            max-width:250px;
            border-color: #2e6da4 1px;
        }
.cat-link{color:black;}

        .details-container{
            margin-top:60px;
        }

.btn-primary-inverse{
            color: #337ab7;
            background-color: #F0F0F0;
            border-color: #2e6da4;
        }
.btn-primary-inverse:hover{
            color: #F0F0F0;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
.btn-cat {
            width:200px;
        }

#btn-link-1{
            color:white;
       }
#btn-link-1:hover,active{
            color: #337ab7;
            background-color: #F0F0F0;
            border-color: #2e6da4;
       }
#btn-link-2{
            color:white;
       }
#btn-link-2:hover,active{
            color: #337ab7;
            background-color: #F0F0F0;
            border-color: #2e6da4;
       }