{% extends 'base.html' %}

{% block title%}GalatecEntz &centerdot; About Us{% endblock %}


{% block content %}
{% load staticfiles %}
<!--header-->
<div class="jumbotron ban_jumbo">
    <div class="container">
        <h4><span>About</span> Us</h4>
    </div>
</div>
<!--//header-->
<!--content about-->
<div class="about">

    <div class="container">
        <!--staff section-->
        <div class="service-top">
            <h3>Staff</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img1.jpg' %}" alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Owner</h3>
                    <h4>Bramwell Kasamba</h4>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img2.jpg' %}" alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Co-Owner</h3>
                    <h4>Faith Kasamba</h4>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img3.jpg' %}" alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Staff { shoppers paradise }</h3>
                    <h4>Thuo</h4>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img4.jpg' %}"  alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Staff { shoppers paradise }</h3>
                    <h4>Sean Romeo</h4>
                 </div>
            </div>

        </div>
        <div class="row" style="margin-top:2em;">
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img1.jpg' %}"  alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Staff { shoppers paradise }</h3>
                    <h4>Jack </h4>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img2.jpg' %}"  alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Staff { Highway Towers }</h3>
                    <h4>Remmy</h4>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="staff-img">
                    <img src="{% static 'img/work-img3.jpg' %}"  alt="">
                 </div>
                <div class="text-info staff-caption">
                    <h3>Staff { Kiamunyi K2 }</h3>
                    <h4>Thuo</h4>
                 </div>
            </div>

        </div>

	<!--//staff section-->
    <!--location-->
        <div class="service-top" style="margin-top:5em;">
                <h3>Locations</h3>
        </div>
        <div class="grid-at" style="margin-bottom:5em;">
			<div class="col-md-3 grid-city">
				<div class="grid-lo">
						<figure class="effect-layla">
						<img class=" img-responsive" src="{% static 'img/ce.jpg' %}" alt="img06">
						<figcaption>
							<h4>SHOPPERS PARADISE NAKURU</h4>
						</figcaption>
					</figure>

				 </div>
			</div>
			<div class="col-md-3 grid-city">
				<div class="grid-lo">
					<figure class="effect-layla">
						<img class=" img-responsive" src="{% static 'img/ce1.jpg' %}" alt="img06">
						<figcaption>
							<h4>SHOPPERS PARADISE NAKURU</h4>
						</figcaption>
					</figure>
				 </div>
			</div>
            <div class="col-md-3 grid-city">
				<div class="grid-lo">
					<figure class="effect-layla">
						<img class=" img-responsive" src="{% static 'img/ce1.jpg' %}" alt="img06">
						<figcaption>
							<h4>HIGHWAY TOWERS NAKURU</h4>
						</figcaption>
					</figure>
				 </div>
			</div>
            <div class="col-md-3 grid-city">
				<div class="grid-lo">
					<figure class="effect-layla">
						<img class=" img-responsive" src="{% static 'img/ce.jpg' %}" alt="img06">
						<figcaption>
							<h4>KIAMUNYI K2 NAKURU</h4>
						</figcaption>
					</figure>
				 </div>
			</div>
			<div class="clearfix"> </div>
		</div>
    <!--//location-->
    </div>
</div>
<!--//content about-->
{% endblock %}

