{% extends 'base.html' %}

{% block title%}GalatecEntz &centerdot; FAQs {% endblock %}


{% block content %}
{% load staticfiles %}
<!--header-->
<div class="jumbotron ban_jumbo">
    <div class="container">
        <h4><span>Frequently</span> Asked Questions</h4>
    </div>
</div>
<!--//header-->
<!--content faqs-->
<div class="asked">
    <div class="container">
        <div class="questions">
            <h5>1.What is Lorem Ipsum?</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="questions">
            <h5>2.What is Lorem Ipsum dummy text ever since the 1500s?</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="questions">
            <h5>5.What is Nam semper elit risus, nec suscipit tellus tincidunt quis?</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="questions">
            <h5>6.What is Quisque molestie fermentum dignissim?</h5>
            <p>Sed eget nunc ex. Donec erat est, dapibus ac massa in, laoreet sagittis eros. Aliquam eget arcu feugiat
                leo elementum tristique. Praesent facilisis aliquam lorem sed pharetra. Donec scelerisque ipsum vel
                tincidunt gravida. Aliquam erat volutpat. Etiam mattis rhoncus massa, quis semper purus ornare id.
                Quisque sit amet mattis ipsum, in porttitor massa. Nullam tincidunt mi vel enim volutpat, a elementum
                libero imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean tincidunt eros eu
                nisl consequat facilisis. Maecenas ac accumsan elit, sit amet gravida nulla.</p>
        </div>
        <div class="questions">
            <h5>7.What is Vestibulum ante ipsum primis in faucibus orci luctus et?</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>
<!--//content faqs-->
{% endblock %}

