{% extends 'base_visitor.html' %}

{% block title %}Galatec Entz &CenterDot; {{ title }}{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-register panel-default">
                <div class="panel-heading" style="font-size:23px;"><span class="glyphicon glyphicon-file"></span>&nbsp; {{ title }}</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="text-danger text-center"><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="{% url 'create_user' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username :</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address :</label>
                            <input type="email" class="form-control" id="email" name="email" >
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Phone Number :</label>
                            <input type="number" class="form-control" id="phonenumber" name="phonenumber" maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input type="password" class="form-control" id="password" name="password" maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="con-password">Confirm Password :</label>
                            <input type="password" class="form-control" id="con-password" name="con-password">
                        </div>
                        <div class="form-group" style="margin-top:20px;">
                            <div class="">
                                <button type="submit" class="btn btn-block btn-success">{{ title }}&nbsp;<span class="glyphicon glyphicon-ok"></span> </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

