{% extends 'base.html' %}

{% block title%}GalatecEntz &centerdot; HomePage{% endblock %}


{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbo">
    <div class="container">
        <h1 class="text-center" style="margin-top:50px;">Welcome to Gaming World &nbsp;<span
                class="fa fa-gamepad"></span></h1>
        <h3 class="text-center">- We Broaden your <strong>Gaming</strong> experience -</h3>
    </div>
</div>
<!--service-->
<!--Featured Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-gamepad"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Best Gaming Offered</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Online Shopping</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Easy to Customize</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->
<hr style="border:1px solid black; width:30%;">
<div class="services">
    <div class="container">
        <div class="service-top">
            <div class="head_title text-center fix">
                <h2 class="text-uppercase">Why Galatec Entz</h2>
            </div>
        </div>
        <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-list" style="color:#48D1CC"> </a>
                </div>
                <div class="ser-top">
                    <h4>Options</h4>
                    <p>
                        We provide you a variety of bus carriers to choose from.
                        If your preferred bus carrier isn't on this site, send them a
                        join wasafiri request.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-usd" style="color:#696969"> </a>
                </div>
                <div class="ser-top">
                    <h4>Best Prices</h4>
                    <p>
                        The cost to convenience ratio is almost non-existent. Manage your entire booking online at
                        almost no extra cost.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-ok" style="color:#48D1CC"> </a>
                </div>
                <div class="ser-top">
                    <h4>Awesome Service</h4>
                    <p>
                        Order for our products anywhere, anytime with a 24/7 dedicated help line to help you if there is
                        a problem.
                        <a href="#contact.html">Contact us</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"
                       style="color:#008B8B"> </a>
                </div>
                <div class="ser-top">
                    <h4>Repair Services</h4>
                    <p>
                        We are the only Gaming Store that offers a dedicated repair for all things to do with gaming.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr style="border:1px solid black; width:30%;">
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!--Test section-->
<section id="test" class="test roomy-60 fix">
    <div class="container">
        <div class="row">
            <div class="main_test fix">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase">What Client Say</h2>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="test_item fix">
                        <div class="item_img">
                            <img class="img-circle" src="{% static 'img/test-img1.jpg' %}" alt=""/>
                            <i class="fa fa-quote-left"></i>
                        </div>

                        <div class="item_text">
                            <h3>Sarah Smith</h3>
                            <h5 style="margin-top:1em;">envato.com</h5>

                            <p style="margin-top:1em;">Natus voluptatum enim quod necessitatibus quis
                                expedita harum provident eos obcaecati id culpa
                                corporis molestias.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img class="img-circle" src="{% static 'img/test-img2.jpg' %}" alt=""/>
                            <i class="fa fa-quote-left"></i>
                        </div>

                        <div class="item_text">
                            <h3>Sarah Smith</h3>
                            <h5 style="margin-top:1em;">envato.com</h5>

                            <p style="margin-top:1em;">Natus voluptatum enim quod necessitatibus quis
                                expedita harum provident eos obcaecati id culpa
                                corporis molestias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off test section -->

<!-- /container -->

{% endblock %}

