{% include 'galatec/base.html' %}

{% block title%}Shopping PAGE{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container">
    {% if all_category %}
        {% for category in all_category %}
            <ul style="list-style:none;">
                <li>
                    <div class="panel panel-default" style="margin-top:50px;">
                        <div class="panel-heading">{{ category.category_name }}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{ category.category_logo.url }}" style="height:200px;width:200px;"/>
                                </div>
                                <div class="col-md-6">
                                    <h2><span id="" class="glyphicon glyphicon-link"></span>&nbsp <a href="{% url 'shop:detail' category.id %}">{{ category.category_name }}</a></h2>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                                        euismod. Donec sed odio dui. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <h3>You don't have any Categories</h3>
    {% endif %}
</div>

{% endblock %}