{% include 'gala/base.html' %}

{% block title%}Add new category{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="container" style="margin-top:50px;">
     <div class="row">
         <div class="col-md-2 clearfix"></div>
         <div class="col-md-8">
             <div class="panel panel-default add-cat-panel">
                <div class="panel-body">
                    <h2 class="text-center">Product</h2>
                    <form class="form-horizontal" style="margin-top:30px;" action="" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         {% include 'shop/form-template.html' %}
                         <div class="form-group">
                             <div class="col-sm-offset-3 col-md-9">
                                 <button type="submit" class="btn btn-cat btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp; Product</button>
                             </div>
                         </div>
                     </form>
                </div>
             </div>
         </div>
         <div class="col-md-2 clearfix"></div>
     </div>
</div>
{% endblock %}