{% extends 'galatec/base.html' %}

{% block title%}HomePage{% endblock %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 style="margin-top:50px;">Welcome to Gaming World</h1>
            <p style="margin-top:50px;">Welcome to Galatec Ent Gaming world, where you get access to Playstation Consoles, Latest version of Games
            and other gaming accessories at a cheap price with convenience</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2><span id="" class="glyphicon glyphicon-user"></span>&nbsp;Galatec</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
            </div>
            <div class="col-md-4">
                <h2><span id="" class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Shopping</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
            </div>
            <div class="col-md-4">
                <h2><span id="" class="glyphicon glyphicon-cd"></span>&nbsp;Videos</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                    fermentum massa justo sit amet risus.</p>
            </div>
        </div>
            <hr>
    </div> <!-- /container -->

{% endblock %}