<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>

        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

        <!--script-->
        <script type="text/js" rel="script" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/js" rel="script" src="{% static 'js/jquery.min.js' %}"></script>
    </head>
    <body id="login_page">
        <h3 class="text-center" id="register-heading">Register Here</h3>
        <div class="panel panel-register panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
    </body>
</html>