{% extends 'gala/base.html' %}

{% block title%}Admin ChartPage{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container" style="margin-top:70px;">
    <h1>New Orders</h1>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.For performance reasons, all icons require a base class and
                        individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.</p>
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-check"></span>&nbsp;
                        Order Sent
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.For performance reasons, all icons require a base class and
                        individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.</p>
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-check"></span>&nbsp;
                        Order Sent
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.For performance reasons, all icons require a base class and
                        individual icon class.
                        To use, place the following code just about anywhere. Be sure to leave a space between the
                        icon and text for proper padding.</p>
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-check"></span>&nbsp;
                        Order Sent
                    </button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

{% endblock %}