{% extends 'gala/base.html' %}

{% block title%}Admin ShopPage{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container" style="margin-top:70px;">
    <h2>Categories Available</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-10">
                {% if all_category %}
                {% for category in all_category %}
                <ul>
                    <li><a href="{% url 'gala:detail' category.id %}">{{ category.category_name }}</a> &nbsp;<span class="badge">42</span></li>
                </ul>
                {% endfor %}
                {% else %}
                <h3>You don't have any Categories</h3>
                {% endif %}
            </div>
            <div class="col-md-2">
                <a href="{% url 'shop:category-add' %}"><span class="label label-primary "><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Category</span></a>
            </div>
            <!-- Large modal -->
            <!--modal-->

        </div>
    </div>
    <hr>
</div>
{% endblock %}