{% extends 'gala/base.html' %}

{% block title%}Admin VideoPage{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container" style="margin-top:70px;">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Video URL</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Upload
        Video
    </button>
    <div class="panel panel-default" style="margin-top:30px;height:400px;padding:20px;">
        <div class="panel-body">
            <!--<a href="#"> <h1 class="text-center" style="font-size:100px;margin-top:80px;"><span class="glyphicon glyphicon-play-circle"></span> </h1></a>-->

             <video style="height:350px;width:70%;" controls>
                 <source src="{% static 'video/mov2.mp4' %}" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                 Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="panel" style="margin-top:50px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                   <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.</p>
                <a href="#"><span class="glyphicon glyphicon-play"></span>&nbsp;</a>
                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-4">
                   <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.</p>
                <a href="#"><span class="glyphicon glyphicon-play"></span>&nbsp;</a>
                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-4">
                   <img src="{% static 'img/index.svg' %}"/>
                </div>
                <div class="col-md-6">
                    <p>For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.For performance reasons, all icons require a base class and individual icon class.
                    To use, place the following code just about anywhere. Be sure to leave a space between the
                    icon and text for proper padding.</p>
                <a href="#"><span class="glyphicon glyphicon-play"></span>&nbsp;</a>
                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div><hr>
        </div>
    </div>
</div>

{% endblock %}